<?php

use Tests\Asserts\Financial\DocumentType;
use Tests\Asserts\Financial\StandardHistory;
use Tests\Asserts\Registration\Client;

return [
    StandardHistory::class,
    DocumentType::class,
    Client::class
];